@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =====================================================[TOP-HEADER-END]=========================================================== */
.top-header{
  background-color: #fca311;
  height: 40px;
  width: 100%;
  background-color: #14213d;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.top-header-img img{
  width: 20px;
  margin: 3px;
}
/* =====================================================[TOP-HEADER-END]=========================================================== */

/* =====================================================[HEADER]=========================================================== */
header {
  height: 120vh;
  width: 100%;
  background-image: linear-gradient(rgba(2, 2, 24, 0.750), rgba(4, 4, 37, 0.900)),url(images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

/* ========================================================[LOGO]========================================================== */
.logo {
  padding: 20px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 12%;
  width: 100%;
  color: #14213d;
  background-color: whitesmoke;
  align-items: center;
  flex-wrap: wrap;
}
.cnt-2 {
  display: flex;
  align-items: center;
  line-height: 0;
}
/* =====================================================[HEADER-END]======================================================= */

/* ===================================================[NAVIGATION-BAR]===================================================== */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 24px 0px whitesmoke;
}
.nav-links {
  display: flex;
  padding: 20px;
  align-items: center;
  color: #121d35;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}
a:hover{
  color: #fca311;
  cursor: pointer;
}
.login-button {
  display: flex;
  padding-right: 3rem;
  align-items: right;
}
.hero-btn{
    background-color: #fca311;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 20px;
    color: #14213d;
}
/* =====================================================[NAVIGATION-BAR-END]=============================================== */

/* ======================================================[HEADER-CONTAINER]================================================ */
.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%;
  overflow: hidden;   
  /* box-shadow: 0px 0px 30px 40px rgba(2, 2, 32, 0.8); */
}
.container-text {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 40px 0 40px;
  font-weight: 600;
}
.container-banner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 18px 0 0;  
}
.container-banner img {
  width: 100%;     
}
/* ========================================================[HEADER-END]==================================================== */

/* =========================================================[SERVICES]===================================================== */
#service{
  width: 100%;
  height: 150vh;
  background-color: #ffff;
}
.text{
  color: #14213d;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 60px 0 60px;  
}
.card{
  border: none;
  height: auto;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 0px #626364b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 20px;
  text-align: center;
  padding: 20px;
  color: #14213d;
  margin: 18px;
}
.card-container{
  display: flex;
  margin: 0 60px 60px 60px;  
  flex-wrap: wrap;
  justify-content: center;
}
/* ======================================================[SERVICES END]==================================================== */

/* ========================================================[COURSE]======================================================== */
#courses{
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(rgba(245, 245, 245, 0.950), rgba(245, 245, 245, 0.95)),url(images/course-back);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-bottom: 60px;
}
.card2{
  border: none;
  height: auto;
  width: 300px;
  border-radius: 0 0 10px 10px ;
  display: flex;
  flex-direction: column;
  align-items: left;
  line-height: 20px;
  color: #14213d;
  margin: 18px;
  background-color: white;
  overflow: hidden;
}
.card2 img{
  width: 400px;
  height: 200px;

}
.card2-container{
  display: flex;
  margin: 0 60px 0px 60px;  
  flex-wrap: wrap;
  justify-content: center;

}
.feedback{
  display: flex;
  justify-content: space-between;
  color: #fca311;
  font-size: 28px;
}
/* ======================================================[COURSE-END]====================================================== */

/* ========================================================[EVENTS]======================================================== */
#events{
  width: 100%;
  height:auto;
  background-color: white;

}
.card3-container{
  display: flex;
  /* margin: 0 20px 0px 20px;   */
  flex-wrap: wrap;
  justify-content: center;  
}
.card3{
  border: none;
  height: 500px;
  width: 350px;
  border-radius: 20px 20px 20px 20px ;
  display: flex;
  flex-direction: column;
  align-items: left;
  line-height: 20px;
  color: #14213d;
  margin: 18px;
  overflow: hidden;
  background-color: whitesmoke;
}
.designation h3{
  transition: 0.5s;
   cursor: pointer;
}
.designation h3:hover{  
  color: #fca311;
}
.location{  
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  border-radius: 0px 0px 0px 20px ;
  color: #14213d;
  
}
.location span{
  padding: 1.5rem;
  width: 600px;   
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid grey;
}
/* ======================================================[EVENTS-END]====================================================== */

/* ======================================================[COUNTTABLE]====================================================== */
#countTable{
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(rgba(2, 2, 24, 0.750), rgba(4, 4, 37, 0.900)),url(images/countable.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: whitesmoke;
  margin-top: 3rem;  
}
.countable-container{
  display: flex;
  justify-content:space-around;
  text-align: center;
  flex-wrap: wrap;
}
.count{
  line-height: 8px;
  align-items: center;
  padding: 3rem 0 3rem 0;
  flex-wrap: wrap;
  margin-bottom: 0;
}
/* ====================================================[COUNTTABLE-END]==================================================== */

/* ======================================================[GALLERY]========================================================= */
#gallery{
  width: 100%;
  height: fit-content;
}
.button-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 2rem 0 3rem 0;
}
.hero-button2{
  width: fit-content;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  border: none;
  padding: 8px 32px 8px 32px ;
  font-weight: 600;
  font-size: 16px;
  color: #14213d;
  margin-left: 1rem;
  transition: 0.5s;
}
.hero-button2:hover{
  background-color: #fca311;
  color: whitesmoke;
  cursor: pointer;
}
.image-container{  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image-container img{
  width: 320px;
  height: 220px;
  margin: 16px;
  border-radius: 16px;
}
/* =====================================================[GALLERY-END]====================================================== */

/* =======================================================[EXPERTS]======================================================== */
#experts{
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(rgba(245, 245, 245, 0.950), rgba(245, 245,245, 0.950)),url(images/course-back);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 60px;
}
.card4-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.card4{
  border: none;
  height: fit-content;
  width: 280px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  color: #14213d;
  margin: 10px;
  overflow: hidden;
  background-color: #ffff;
  text-align: center;
  line-height: 0px;
  padding-bottom: 20px;
}
.card4 img{
  margin: 10px;
  height: 280px;
}
.designation{
  text-align: center;
}
/* =====================================================[EXPERTS-END]====================================================== */

/* ======================================================[AWARDS]========================================================== */
#awards{
  width: 100%;
  height: max-content;
  display: flex;
  padding: 40px 0 40px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* ===================================================[AWARDS-END]========================================================= */

/* ======================================================[CONTACT-START]========================================================== */
#contact{
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(rgba(2, 2, 24, 0.750), rgba(4, 4, 37, 0.900)),url(images/contact.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.contact-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title::before{
    content: "";
    background: #ec9f05;
    height: 4px;
    width: 100px;
    display: block;
    transform: translateY(42px);
}
/* .title::after{
    content: '';
    background: #ff4e00;
    height: 10px;
    width: 50px;
    margin-left: 20px;
    margin-bottom: 4px;
    display: block;
    transform: translateY(8px);
} */

.contact-us-box{
  height: fit-content;
  width: 250px;
  color: #fca311;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  padding: 10px;
  /* justify-content: space-around; */
}
.contact-h3{
  font-weight: 600;
  font-size: 24px;
}
.contact-links{
  display: flex;
  align-items: center;
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
}
.material-symbols-outlined{
  padding-right: 16px;  
}
.img-box{
  justify-content: center;
}
/* ======================================================[SOCIAL-START]========================================================== */
.social{
  display: flex;
  justify-content: center;
  margin-bottom: 60PX;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.social-card1{
  width: 250px;
  height: 40px;
  color: #fff;
  background-color: #4267b2;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 20px 20px 0 20px;
}
.social-card2{
  width: 250px;
  height: 40px;
  color: #fff;
  background-color: #03a9f4;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 20px 20px 0 20px;
}
.social-card3{
  width: 250px;
  height: 40px;
  color: #fff;
  background-color: #0077b7;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 20px 20px 0 20px;
}
.social-card4{
  width: 250px;
  height: 40px;
  color: #fff;
  background-color: #eb0000;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 20px 20px 0 20px;
}
/* ======================================================[SOCIAL-START]========================================================== */
/* ======================================================[CONTACT-END]========================================================== */

/* ======================================================[FOOTER]========================================================== */
footer{
  width: 100%;
  height: 40px;
  background-color: #14213d;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
span{
  color: #fca311;
}
/* rgba(10, 46, 85, 0.931), rgba(10, 46, 85, 0.931) */
/* ========================================================[FOOTER-END]==================================================== */

/* =========================================================[PAGE END]===================================================== */
